.news-all {
  @include font(400, 12px, 12px);
  color: $grey;
  text-transform: uppercase;
  display: table;
  float: right;
  height: 36px;
  vertical-align: bottom;
  span {
    display: table-cell;
    vertical-align: bottom;
  }
}
.aside {
  margin-bottom: 20px;
}
.news {
  &__img {
    margin: 3px auto;
  }
  &__link{
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none;
    &--big{
      @include font(400, 22px);
    }
  }
  &__date{
    color: $grey;
  }
}
