// Box-sizing
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

// Font

body, p {
  @include font;
  color: $default;
}

// Reset fonts for relevant elements

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


// Links

a {
  color: #545454;;
  text-decoration: none;
  color: $link;
  transition: 0.3s;
  &:hover,
  &:focus {
    color: $link-hov;
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

//NAV

nav {
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

// Headers

h1, .h1 {

}
h2, .h2 {
  @include font(700, 32px, 34px, $sans-caption);
  text-transform: uppercase;
}


