.footer {
  background: #e7e7e7;
  color: $grey;
  padding: 20px 0 15px;
  &__left {
    text-align: left;
    small {
      display: block;
      @include font(400, 14px, 15px);
    }
    a {
      color: $grey;
      text-decoration: underline;
      &:hover {
        color: $default;
        text-decoration: none;
      }
    }
  }
  &__copy {
    margin-top: 5px;
  }
  &__right {
    text-align: right;
    @include font(400, 18px, 26px);
  }

}
