$border-color: #2485ca;
nav {
  margin-top: 10px;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;

}

/* site menu */
.site-nav {
  display: table;
  width: 100%;
  &__item {
    background: $menu;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: $menu-height;
    border-right: 13px solid $border-color;
    position: relative; // for left white border position
    transition: background 0.2s;
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      @include font(400, 18px, 22px);
      display: table;
      width: 100%;
      height: $menu-height;
      span {
        padding: 0 15px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
      }
    }
    &--active {
      background: $menu-hov;
      a {
        color: darken($link, 7%);
      }
    }
    &:hover  {
      background: $menu-hov;
      cursor: pointer;
      border-right: 13px solid #fff;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -13px;
        width: 13px;
        height: $menu-height;
        background: #fff;
      }
    }
    &:first-child{
      border-left: 13px solid $border-color;
    }
  }
}
/* left menu */
.sub-nav {
  margin: 13px 0;
  padding: 0;
  list-style: none;
  &__item {
    border-bottom: 1px solid #e2eff8;
    box-sizing: border-box;
    height: 44px;
    &:first-child {
      border-top: 1px solid #e2eff8;
    }
    a, span {
      height: 44px;
      color: $blue;
      display: inline-block;
      width: 100%;
      text-transform: uppercase;
      @include font(700, 16px, 44px, $sans-caption);
      padding-left: 15px;
      text-decoration: none;
      &:hover{
        color: #ea3f00;
      }
    }
    &--act{
      span{
        color: #ea3f00;
      }
    }
  }
}
