@mixin clearfix {
  &:after {
  content: "";
  display: table;
  clear: both;
  }
}

/*Descriptions
$path - url to sprite img
$width - width of the single image in target sprite
$height - height of the single image
$row and $cell - amount of rows and cells in sprite
0 - eq. the first
1 - second, etc
( look at your sprite like it would be the table )*/

@mixin sprite($path, $width, $height, $row, $cell) {
  &::before {
  content: "";
  display: inline-block;
  width: $width+px;
  height: $height+px;
  background: url($path) (-$cell * $width)+px (-$row * $height)+px no-repeat;
  }
}
@mixin sprite-pos($path, $width, $height, $row, $cell, $pos-x: 0, $pos-y: 0) {
  position: relative;
  &::before {
  position: absolute;
  top: $pos-y;
  left: $pos-x;
  content: "";
  display: inline-block;
  width: $width+px;
  height: $height+px;
  background: url($path) (-$cell * $width)+px (-$row * $height)+px no-repeat;
  }
}

@mixin font($weight: 400, $size: $default-size, $height: $default-height, $font: $default-font){
  font: $weight #{$size}/#{$height} $font;
}
