@mixin clearfix {
  &:after {
  content: "";
  display: table;
  clear: both;
  }
}

@mixin hone($background: #fff) {
  overflow:hidden;
  position:relative;
  span {
    z-index: 2;
    position: relative;
    background: $background;
  }
  &:before {
    bottom: 1px;
    position:absolute;
    z-index: 1;
    color: darken(#ecf2f1, 10%);
    content: "...................................................................................................................................................................................................................................................................................................................................................";
  }
}

/*Descriptions
$path - url to sprite img
$width - width of the single image in target sprite
$height - height of the single image
$row and $cell - amount of rows and cells in sprite
0 - eq. the first
1 - second, etc
( look at your sprite like it would be the table )*/

@mixin sprite($path, $width, $height, $row, $cell) {
  &::before {
  content: "";
  display: inline-block;
  width: $width+px;
  height: $height+px;
  background: url($path) (-$cell * $width)+px (-$row * $height)+px no-repeat;
  }
}
@mixin sprite-pos($path, $width, $height, $row, $cell, $pos-x: 0, $pos-y: 0) {
  position: relative;
  &::before {
  position: absolute;
  top: $pos-y + px;
  left: $pos-x + px;
  content: "";
  display: inline-block;
  width: $width+px;
  height: $height+px;
  background: url($path) (-$cell * $width)+px (-$row * $height)+px no-repeat;
  }
}

@mixin breakpoint($point) {
  @if $point == desktop {
  @media (min-width: 1024px) { @content; }
  }
  @if $point == tablet {
  @media (min-width: 768px) and (max-width: 1023px) { @content; }
  }
  @if $point == tablet-desktop {
  @media (min-width: 768px) { @content; }
  }
  @if $point == all-small {
    @media (max-width: 1023px ) { @content; }
  }
  @if $point == mobile {
  @media (max-width: 767px ) { @content; }
  }
  // Additional
  @if $point == tablet-small {
    @media (min-width: 426px) and (max-width: 767px) { @content; }
  }
  @if $point == mobile-small {
    @media (max-width: 480px) { @content; }
  }
}
