/* Fonts */
$pt-sans: 'PT Sans', sans-serif;
$sans-caption: 'PT Sans Caption', sans-serif;
$arial: 'Arial', sans-serif;

$default-font: $pt-sans;
$default-size: 16px;
$default-height: 22px;

$grey: #777;
$white: #fafafa;
$yellow: #ffc61f;
$blue: #034a7d;

$default: #545454;

$link: #045a96;
$link-hov: #ea3f00;

/* Menu */
$menu: #045a96;
$menu-hov: #eaae00;
$menu-height: 50px;


