/* Fonts */
$site-font: 'Open Sans', sans-serif;

/* Bkg colors */
$soft-grey: #f1f1f1;
$button: #ff9800;
$menu: #cff6f6;

/* Color */
$paragraph: #545454;
$header-grey: #757676;
$site-main: #696969;
$link: #007f7e;
$link-orange: #f57c00;
